@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');
:root {
    --bg: #7f5656;
}
html {
    font-size: 62.5%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
button,
input {
    outline: none;
    border: none;
}
a {
    text-decoration: none;
    color: #ccc;
}
